@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Bona Nova SC", serif; */
/* font-family: "Fira Sans", sans-serif; */
:root{
    --container-width: 1270px;
    --container-padding: 10px;
    --secondary: rgba(157, 92, 147, 0.547);
}

body{
    font-family: "Bitter", serif;
    background: black;
}

 .none{
     display: none !important;  /*элемент не будет отображаться на странице данное правило  
                                должно иметь наивысший приоритет. Это означает, что если в других местах
                                в вашем CSS есть конфликты для того же свойства  это правило 
                               будет применяться и игнорировать любые другие правила, которые не содержат !important.  */
}
.container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

/* шапка */
.header{
    position: relative;/* для определения положения элемента относительно его нормального положения в документе.*/
    min-height: 900px;
    background: linear-gradient(to right, black, 70%, rgb(75, 75, 75));
    /* background-color: aqua; */
    padding-top: 44px;
    z-index: 1001;
}
.header__top{
    margin-bottom: 80px;
}
.header_row{
    display: flex;
}
.header__content{
    max-width: 800px;
}
/* .header_img{
    /* position: relative;
    height: 600px; 
} */
.header_img img{
    /* position: absolute;
    left: 50px;
    top: 20px; */
    margin-left: 200px;
    margin-top: -30px;
    width: 300px;
    height: 580px;
}
.nav{
    display: flex;
    justify-content: space-between;
    column-gap: 85px;/*заданиe расстояния между колонками*/   
}
.list{
    display: flex;
    column-gap: 85px;
    align-items: center;/*меню по вертикали*/
    font-size: 30px;
    font-weight: 500;
}
.list a{
    color: rgb(172, 136, 92);
    position: relative;
}
.list a.active::after,
.list a:hover::after{
    content: "";/*чтобы псевдоэлемент отображался*/
    position: absolute;
    left: 0;
    bottom: -6px;
    display: block;
    width: 50px;
    height: 4px;
    background-color: rgba(172, 136, 92, 0.566);
    border-radius: 50px;
}
.header_title{
    font-family: "Bona Nova SC", serif;
    color: rgb(248, 198, 124);
    font-size: 75px;
}
.header_txt{
    margin-top: 65px;
    font-family: "Bitter", serif;
    font-size: 25px;
    color: rgb(198, 190, 178);
    line-height: 1.3;
}

.portfolio{
    padding: 10px 40px 100px;
    overflow-x: hidden;
    background: linear-gradient(to top right,  black, 85%, rgb(75, 75, 75));

}
.portfolio_row{
    display: flex;
    column-gap: 40px;
}
/* .portfolio_content{
    max-width: 700px;
} */
.portfolio_h1{
    color: rgb(249, 202, 132);
    font-size: 60px;
    font-weight: bold;
}
.portfolio_txt{
    color: rgb(198, 212, 215);
    font-family: "Fira Sans", sans-serif;
    font-size: 30px;
    line-height: 2;
    margin-top: 80px;
}
.portfolio_txt_txt{
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 2;
    margin-left: 45px;
}
.portfolio_text{
    margin-top: 50px;
}
.portfolio_text_1{
    margin-top: 70px;
}
.portfolio_text_2{
    margin-top: 150px;
}
.portfolio_text_3{
    margin-top: 200px;
}
.portfolio_el{
    display: flex;
    gap: 20px;
}
.portfolio_el-1{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.portfolio_txt2{
    width: 100%;
    font-weight: bold;
    color: rgb(164, 183, 183);
    font-family: "Fira Sans", sans-serif;
    text-indent: 5%;
    font-size: 20px;
    line-height: 1.75;
    margin-top: 80px;
}
.portfolio_slider{
    width: 950px;
    flex-shrink: 0;/*коэффициент сжатия*/
    margin-top: 130px;
}

.slider{
    position: relative;
}
.slider::after{
    content: "";
    position: absolute;
    bottom: -50px;
    display: block;
    width: 950px;
    height: 3px;
    background-color: rgba(161, 161, 161, 0.566);
    border-radius: 50px;
}
.slider_item{
    width: 300px;
    height: 360px;
    margin-top: 20px;
    object-fit: cover;/*для управления тем, как изображение или видео будет вписываться в заданный контейнер.  */
    border-radius: 35px;
    transition: 0.2s ease-in;/*для плавности картинок*/
}
.slider_item_1{
    width: 300px;
    height: 360px;
    margin-top: 140px;
    object-fit: cover;/*для управления тем, как изображение или видео будет вписываться в заданный контейнер.  */
    border-radius: 35px;
    transition: 0.2s ease-in;/*для плавности картинок*/
}

.slider .center .slider_item{
    width: 310px;
    height: 370px;
    margin-top: 0;
}
.slider .center .slider_item_1{
    width: 310px;
    height: 370px;
    margin-top: 120px;
}

.slider_btn{  
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50% ;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(125, 125, 125, 0.623);
}

.btn_left{
    left: -27px;
    padding-right: 4px;
}
.btn_right{
    right: -27px;
    padding-left: 4px;
}
.btn_left_1{
    left: -27px;
    padding-right: 4px;
    margin-top: 50px;
}
.btn_right_1{
    right: -27px;
    padding-left: 4px;
    margin-top: 50px;
}

.reviews {
    text-align: center; /* Центрируем текст заголовка */
    margin-top: 50px;
}

.portfolio_h2 {
    color: rgb(249, 202, 132);
    font-size: 60px;
    font-weight: bold;
    position: relative;
}

.portfolio_h2::after {
    content: "";
    position: absolute;
    bottom: -23px;
    display: block;
    width: 250px;
    height: 6px;
    background-color: rgba(219, 159, 86, 0.566);
    border-radius: 50px;
    left: 50%; /* Центрируем псевдоэлемент по горизонтали */
    transform: translateX(-50%); /* Сдвигаем влево на 50% ширины для точного центрирования */
}

.slider_1 {
    width: 100%;
    margin-left: 0; /* чтобы карусель начиналась с левого края */
    margin-top: 100px;
    margin-bottom: 50px;
}

.slider_item_2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* для управления тем, как изображение или видео будет вписываться в заданный контейнер. */
    border-radius: 35px;
    transition: 0.2s ease-in; /* для плавности картинок */
}
.img_reviews{
    margin-top: 5px;
    margin-bottom: 50px;
}

.gift{
    position: fixed;
    bottom: 20px; /* Расстояние от нижнего края */
    right: 20px; /* Расстояние от правого края */
    padding: 10px 20px;
    background-color: #797b80;
    color: rgb(214, 214, 214);
    border: 2px solid  rgb(214, 214, 214);
    font-size: 20px;
    width: 140px;
    height: 70px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /*смещение, размытие, распространение, цвет*/
    z-index: 1000; /*кнопка выше всех элементов*/
}
.gift:hover{
    background-color: #4b4c4f; 
    border: 2px solid grey;
}

/* ФОРМА */
.contact_form{
    text-align: center;
    margin-top: 50px; 
}
.contacts{
    color: rgb(249, 202, 132);
    font-size: 60px;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
}
.date{
    color: rgba(249, 202, 132, 0.685);
    margin: 20px;
    font-size: 30px;
}
.form{
    background-color: #9a9a9a67;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}
.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #ccc;
}
label {
    display: flex;
    margin-bottom: 20px;
    
}
input[type="text"],
input[type="tel"],
input[type="date"],
.form-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 20px;
}
.form-button {
    background-color: #d5bb87;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    font-size: 30px;
    cursor: pointer;
    height: 60px;
    margin-top: 25px;
}
.form-button:hover {
    background-color: #868661;
}
.response-message {
    margin-top: 20px;
    color: green;
}

